[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
pysqlite3 = "*"
sqlalchemy = "*"
werkzeug = "*"
flask-migrate = "*"
jinja2 = "*"
itsdangerous = "*"
wtforms = "*"
flask-login = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
