<!-- {% extends "layout/base.html" %}
{%block content %}
<form method="POST" class="box">
    <div class="field">
        <label class="label">Name</label>
    <div class="control">
<input type="text" class="input" name="name" placeholder="Category Title">
    </div>
    
    </div>

    <div class="field">
        <label class="label">Description</label>
    <div class="control">
<textarea class="textarea" name="description" placeholder="Post Description"></textarea>
    </div>
    </div>
   
        <button class="button is-primary" type="submit">Add Category</button>
           
    
</form>
{%endblock content%} -->